<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.giaodien">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".map"></activity>
        <activity android:name=".phancong" />
        <activity android:name=".chitieu" />
        <activity android:name=".thanhtoan" />
        <activity android:name=".chitietcuocgoi" />
        <activity android:name=".thongtinbaocuoc" />
        <activity android:name=".baocuoc" />
        <activity android:name=".thongtinckn" />
        <activity android:name=".chucnang" />
        <activity android:name=".bieudo3" />
        <activity android:name=".bieudo2" />
        <activity android:name=".bieudo1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>